* {
    box-sizing: border-box;
}

:root {
    --bkgnd: #F4F4F4;
    --bright: #FFFFFF;
    --cta: yellow;
    --conversion: #3D3D3D;
    --output-hdg: #5A537B;
    --output-content: #353535;
    --top-bkgnd: #6943FF;
    --input-border: #B295FF;
    --radius: 5px;
}

body {
    margin: 0 auto;
    background-color: var(--bkgnd);
    font-family: "Inter";
    width: 100%;
}

.bright {
    color: var(--bright);
}

label {
    color: var(--cta);
    font-size: 1.4rem;
    font-weight: bold;
}

.output-hdg {
    color: var(--output-hdg);
    font-size: 1.25rem;
    font-weight: 600;
}

.output-content {
    color: var(--output-content);
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
}

.text-output-hidden {
    visibility: hidden;
}

.text-output-shown {
    display: "";
}

h1 {
    font-size: 1.75rem;
    line-height: 38px;
    margin-top: 33px;
    color: var(--bright);
}

#container {
    margin: 0 auto;
    background-color: var(--bkgnd);
    height: 100%;
}

#user-input-area {
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    background-color: var(--top-bkgnd);
}

#input-formatting-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    min-width: 117px;
    max-width: 300px;
    margin-bottom: 36px;
    padding-bottom: 20px;
}

#user-input {
    border: 2px solid var(--input-border);
    border-radius: var(--radius);
    height: 83px;
    background-color: transparent;
    text-align: center;
    font-size: 3.625rem;
    font-weight: 900;
    color: var(--bright);
    min-width: 117px;
    max-width: 300px;
    field-sizing: content;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*
// Firefox
input[type=number] {
  -moz-appearance: textfield;
}
*/

#convert-btn {
    border: none;
    border-radius: var(--radius);
    background-color: var(--bright);
    color: var(--conversion);
    cursor: pointer;
    height: 42px;
    width: 121px;
    font-family: Inter;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 500;
}

#convert-btn:focus,
#convert-btn:hover {
    opacity: .8;
}

.button-dimmed {
    opacity: .5;
}

/* relative positioning
for sr-only child and test-message child */
#output-area {
    position: relative;
    height: 750px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* absolute positioning as child */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* absolute positioning as child */
#test-message {
    position: absolute;
    font-weight: 600;
    font-size: 1.4rem;
    background-color: var(--top-bkgnd);
    opacity: 1.0;
    color: var(--bright);
    top: 0px;
    left: -410px;
    outline: 2px solid var(--conversion);
    padding: 10px 40px 10px 40px;
    border-radius: calc(var(--radius) * 10);
}

#test-message.validation-message {
    left: -30px;
    transition: 1.3s;
}

/* unordered list for accessibility */
#output-formatting-box {
    padding-left: 0;
    padding-top: 30px;
    list-style: none;
    height: 750px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 24px;
}

.output-card {
    display: flex;
    min-height: fit-content;
    flex-direction: column;
    background-color: var(--bright);
    height: 108.57px;
    text-align: center;
    align-content: center;
    border-radius: var(--radius);
}