

body {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #111827;
    font-family: "Inter";
    width: 550px;
}

.text-white {
    color: white;
}

label {
    color: yellow;
    font-size: 1.4rem;
    font-weight: bold;
}

.output-label {
    color: #5A537B;
    font-size: 1.25rem;
    font-weight: 600;
}

.text-output-shade {
    color: #353535;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.text-output-hidden {
    visibility: hidden;
}

.text-output-shown {
    display: "";
}

h1 {
    font-size: 28px;
    line-height: 38px;
    margin-top: 33px;
}

#container {
    margin: 0 auto;
    background-color: #F4F4F4;
    height: 100%;
}

.rectangle {
    border-radius: 5px;
}

#user-input-area {
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    background-color: #6943FF;
}


#input-formatting-box {
    position: relative;
    //outline: 1px solid yellow;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    min-width: 117px;
    max-width: 300px;
    margin-bottom: 36px;
    padding-bottom: 20px;
}


#user-input {
    border: 2px solid #B295FF;
    height: 83px;
    background-color: transparent;
    text-align: center;
    font-size: 58px;
    font-weight: 900;
    color: #FFFFFF;
    min-width: 117px;
    max-width: 300px;
    field-sizing: content;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*
// Firefox
input[type=number] {
  -moz-appearance: textfield;
}
*/

#alert-message {
    position: absolute;
    left: -130px;
    bottom: 16px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid #AC4499;
    height: fit-content;
    padding: 5px 10px 5px 15px;
    width: 50%;
    text-align: left;

    align-content: center;
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid green;
}

#convert-btn {
    border: none;
    background-color: #FFFFFF;
    color: #3D3D3D;
    height: 42px;
    width: 121px; /* added */
    font-family: Inter;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 500;
}

.button-dimmed {
    opacity: .5;
}

#output-area {
    height: 750px;
    outline: 2px solid purple;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#output-formatting-box {
    height: 750px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 24px;
}

.output-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 108.57px;
    text-align: center;
    align-content: center;
}